.footer {
	background-color: $navbar-default-bg;
	height:90px;
	margin-bottom: 10px;

	#clockwatch-box,
	.weather-box,
	&__brand {
		display: inline-block;
		line-height: 85px;
	}

	#clockwatch-box {
		font-size: 2.2em;
		text-align: center;
		@extend .border-right;
		padding-right: 15px;
	}

	.weather-box {
			font-size:1.5em;
	}

	&__brand {
		font-size: 1em;
		color:#636b6f;
	}
}

.border-right {
	border-right: 1px dashed #000;
}

@media (max-width: $screen-xs-max) {
	.border-right {
		border-right: none;
	}
}