/*
 * Component: Small Box
 * Extraído AdminLTE V2
 * --------------------
 */

.small-box {
  border-radius: $border-radius-base;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  // content wrapper
  > .inner {
    padding: 10px;
  }

  h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;

  }

  p {
    font-size: 16px;
    > small {
      display: block;
      color: #f9f9f9;
      font-size: 13px;
    }
  }

  h3, p {
    z-index: 5;
  }

  // the icon
  .icon {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 0;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.1);
  }

  // Small box hover state
  &:hover {
    text-decoration: none;
    // Animate icons on small box hover
    .icon {
      font-size: 65px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  // No need for icons on very small devices
  .small-box {
    text-align: center;
    .icon {
      display: none;
    }
    p {
      font-size: 12px;
    }
  }
}

.bg-red {
  background-color: #e47365 !important;
  color:#fff;
}
.bg-yellow {
  background-color: #f7bc60 !important;
  color:#fff;
}
.bg-acqua {
  background-color: #14d1ff !important;
  color:#fff;
}